<!DOCTYPE html>
<html lang="en">
	<head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css" />
        <link href="https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap" rel="stylesheet">
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/assets/js/cats.js"></script>
		<title class="specialFont">Eat Da Burger</title>
	</head>
	<body>
        <img src="/assets/img/burger.png" alt="A Picture of a Burger should be here"> 
        <h5 class="specialFont">Eat Da Burger</h5>
		{{{ body }}}
        <textarea name="description" rows="3" columns="50"></textarea><br>
        <button type="submit" class="mainBtn">Submit</button><br>
        <p class="specialFont" >Enter the burger you want to eat.<br>
        Click the submit button when done.</p>
	</body>
</html>
